
<div class="row">
    <div class="col-sm-12">
        <form name="form" class="form-validation" ng-submit="updatePassword()">
            <div class="panel panel-default">
                <div class="panel-heading bg-white">
                       <span class="font-bold">Change Password</span>
                        <md-progress-circular 
                            ng-show="showLoading" 
                            style="top: 1px;position: absolute;display: inline-block;" 
                            md-mode="indeterminate" md-diameter="20" 
                            class="md-hue-2 md-default-theme animate-show animate-hide">

                        </md-progress-circular>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Current Password <em class="text-muted"></em></label>
                        <input type="text" class="form-control" ng-model="user.password" required >
                    </div>
                    <div class="form-group">
                        <label>New Password <em class="text-muted"></em></label>
                        <input type="text" class="form-control" ng-model="user.newPassword" ng-pattern="/^[a-zA-Z0-9]{5,}$/" required >
                    </div>
                    

                </div>
                <footer class="panel-footer text-right">
                    <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Update</button>
                </footer>
            </div>
        </form>

    </div>
</div>